<div id="Education" class="Education">
    <h3>Education</h3>
    <div class="Education-left">
      <img src="Education.png">
    </div>
    <div class="Education-Right">
      <h3>B.Sc. Computer Science</h3>
      <h4>Bharathiar University </h4>
      <h4>(Nandha Arts & Science College, Erode)</h4>
      <p class="content">
        BSc Computer Science course is an undergraduate degree program that focuses on the study 
        of computer systems and software development which is designed to provide students 
        with a solid foundation in Computer Science principles, as well as practical skills 
        in programming, data structures, algorithms, and software engineering.
        <br><br>
        <strong> First Year:</strong> <br>Introduction to Programming, Basic Mathematics, Fundamentals of Computer Systems, and Introduction to Web Development. <br>
        <strong>Second Year:</strong> <br>Advanced Programming, Data Structures, Database Management Systems, Operating Systems, and Computer Networks. <br>
        <strong>Third Year:</strong> <br>Software Engineering, Electives (AI, Cybersecurity, etc.), Major Project, and Internship.
      </p>
    </div>
  </div>