<div id="Experience" class="Experience">
    <h3 Class="header">Experience</h3>
    <div class="Experience-Right">
      <img src="Experience.png">
    </div>
    <div class="Experience-left">
      <h4>Desktop & Customer Support - KGM Software Pvt Ltd</h4>
      <ul>
        <li>Provided technical support to customers via phone, email, and chat, ensuring prompt and accurate resolution of their technical issues.</li>
        <li>SAP Application installing on client systems.</li>
        <li>Diagnosed and resolved hardware and software problems for both Windows platforms, including troubleshooting network connectivity issues.</li>
        <li> Installation and configuring SQL Server, Desktop system, Printers, Networking, System hardware, Operating system and Application software.</li>
        <li><strong> Remote Tools: </strong> Any desk, Team Viewer..</li>
        </ul>
        <h4>QA Manual Testing</h4>
        <ul>
        <li>1.8 years of experience in manual QA testing, with a focus on test case creation, execution, and defect tracking.</li>
        <li>Strong expertise in identifying and documenting defects, ensuring timely resolution to improve software quality.</li>
        <li>Collaborated with development teams to verify and validate new features, ensuring alignment with user requirements and specifications.</li>
        </ul>
        <h4>Developer</h4>
        <ul>
        <li>Developed full-stack solutions using Angular for the front-end and VB.NET/ASP.NET for backend logic and API integration.</li>
        <li>Managed SQL Server databases to ensure efficient data storage, retrieval, and robust financial/inventory reporting.</li>
        <li>Designed user-friendly dashboards and interfaces for real-time data displays and intuitive navigation.</li>
        <li>Implemented real-time inventory tracking, sales, and expense management modules with detailed reporting features.</li>
        </ul>
    </div>
  </div>



