.Experience
{
    width: 100%;
    height: 1000px;
    background-color:#000000;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Experience h3{
    text-align: center;
    padding-top: 90px;
    color: #fad818;
}
.Experience img
{
    height: 400px;
    width: 100%;
}
.Experience-left
{
    padding: 5px 20px 0px 20px;
}
.Experience-left ul 
{
    padding-left: 20px;
}
@media (min-width: 1000px){
    .Experience
    {
        width: 100%;
        height: 641px;
    }
    .Experience-left
    {
        width: 55%;
        padding: 5px 20px 0px 20px;
        float: left;
        margin-top: 3%;
    }
    .Experience-left h4
    {
        padding-left: 50px;
        color: #fad818;
    }
    .Experience-left ul 
    {
        padding-left: 50px;
        padding-top: 20px;
    }
    .Experience-Right
    {
        width: 40%;
        float: right;
    }
}