<div id="Experience" class="Experience">
    <h3>Experience</h3>
    <div class="Experience-Right">
      <img src="Experience.png">
    </div>
    <div class="Experience-left">
      <h4>Desktop & Customer Support</h4>
      <h4>KGM Software Pvt Ltd</h4>
      <ul>
        <li>Good Knowledge in Desktop & Customer Support.</li>
        <li>Provided technical support to customers via phone, email, and chat, ensuring prompt and accurate resolution of their technical issues.</li>
        <li>SAP Application installing on client systems.</li>
        <li>Outlook mail Archive, Account Creation, Mail password reset and Account recovery.</li>
        <li>Diagnosed and resolved hardware and software problems for both Windows platforms, including troubleshooting network connectivity issues.</li>
        <li>Conducted remote troubleshooting sessions using tools such as Teamviewer, Ultraviewer and Anydesk to resolve customer issues efficiently.</li>
        <li> Assisted customers with software installations, updates, and configurations, ensuring compatibility and optimal performance.</li>
        <li> Installation and configuring SQL Server, Desktop system, Printers, Networking, System hardware, Operating system and Application software.</li>
        <li>Knowledge in Network, ZERO Tier, Static IP.</li>
        <li><strong> Remote Tools: </strong> Any desk, Team Viewer..</li>
        </ul>
        
    </div>
  </div>

