.Contact
{
    width: 100%;
    height: 915px;
    background-color:#000000;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 100px;
    padding-bottom: 20px;
}
 * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media (min-width: 1000px)
{
    .Contact
    {
        width: 100%;
        height: 641px;
        background-color:#000000;
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .container {
        border-radius: 5px;
        margin-left: 400px;
        padding: 20px;
      }
     /* .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  } */
      input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    float: left;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
    width: 50%;
  }
 }
