<div id="Skills" class="Skills">
    <h3>Skills</h3>
    <div class="Skills-left">
      <div class="con"> 
        <h4>Technical Skills:</h4>
        <h4 style="color: white;">Programming languages: HTML, CSS, SQl,JavaScript, etc.</h4>
        <br>
        <p ><i class="fa-brands fa-html5" style="color: #ff3c00;"></i> HTML</p>
        <div class="container">
          <div class="skills1 html">80%</div>
        </div>
        <p><i class="fa-brands fa-css3-alt" style="color: #1479d8;"></i> CSS</p>
        <div class="container">
          <div class="skills1 css">80%</div>
        </div>
        <p><i class="fa-solid fa-database" style="color: #df2e86;"></i> SQL</p>
        <div class="container">
          <div class="skills1 sql">60%</div>
        </div>
        <p><i class="fab fa-js" style="color: #f0ff20;"></i> JavaScript</p>
        <div class="container">
          <div class="skills1 js">35%</div>
        </div>
        <p><i class="" style="color: #2058ff;"></i> Vb.NET</p>
        <div class="container">
          <div class="skills1 Vb">50%</div>
        </div>
        <br>
        <h4>Database: SQL Server.</h4>
        <p><i class="fa-solid fa-database" style="color: #df2e86;"></i> SQL Server</p>
        <div class="container">
          <div class="skills1 SQLServer">55%</div>
        </div>
        <p><br>
         <strong>Web frameworks:</strong> &nbsp;<i class="fa-brands fa-react" style="color: #61dafb;"></i> React.<br>
         <strong>Version control:</strong> &nbsp;<i class="fa-brands fa-github"> </i> Git.<br>
         <strong>Operating Systems:</strong> &nbsp;Windows, macOS, etc.

        </p>
      </div>
    </div>
    <div class="Skills-Right">
      <div class="con"> 
        <h4>Tools and Software:</h4>
        <ul>
          <ol> - <strong>Code editors:</strong> &nbsp;Visual Studio Code, Visual Studio, etc.</ol>
          <ol> - <strong>Design tools:</strong> &nbsp;Adobe XD, Figma, Photoshop etc.</ol>
          <ol> - <strong>Version control systems:</strong> &nbsp;GitHub, GitLab, etc.</ol>
        </ul>
        <img src="./VS.png">
        <img src="./VS Code.png">
        <img src="./XD.png">
        <img src="./Figma.png">
        <img src="./Git.png">
      </div>
      <div class="con"> 
        <h4>Design and Development Skills:</h4>
        <ul>
          <ol>1. &nbsp;Responsive web design</ol>
          <ol>2. &nbsp;User experience (UX) and user interface (UI) design</ol>
          <ol>3. &nbsp;Front-end development: client-side scripting, DOM manipulation, etc.</ol>
          <ol>4. &nbsp;Back-end development: server-side scripting, API integration, etc.</ol>
          <ol>5. &nbsp;Database design and management</ol>
          <ol>6. &nbsp;Web security and best practices</ol>
          <ol>7. &nbsp;Testing and debugging</ol>
        </ul>
      </div>
    </div>
  </div>