.Skills
{
    width: 100%;
    height: 915px;
    background-color:#000000;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Skills h3{
    text-align: center;
    padding-top: 90px;
    color: #fad818;
}
.container
{
    width: 100%;
    background-color: #ddd;
}
.Skills1
{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
h4 
{
    color: #fad818;
}
strong
{
    color: #fad818;
}
.html
{
    width: 80%;
    background-color: #ff3c00;
    animation: html 5s;
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
@keyframes html 
{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.css
{
    width: 80%;
    background-color: #1479d8;
    animation: css 5s;
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.sql
{
    width: 60%;
    background-color: #df2e86;
    animation: sql 5s;
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
@keyframes sql {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.js
{
    width: 35%;
    background-color: #f0ff20;
    animation: js 5s;
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    }
}
.Vb
{
    width: 50%;
    background-color: #2058ff;
    animation: Vb 5s;
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
@keyframes Vb {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
.SQLServer
{
    width: 55%;
    background-color: #df2e86;
    animation: sql 5s;
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
@keyframes SQLServer {
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
.con
{
    padding: 15px 20px 0px 20px;
}
.con h4
{
    text-align: left;
}
.Skills-Right .con img
{
    height: 50px;
    width: 50px;
    padding: 9px;
}
.con img:hover{
transform: scale(1.2);
box-shadow: #df2e86;
z-index: 2;
}
@media (min-width: 1000px){
    .Skills
    {
        width: 100%;
        height: 641px;
    }
    .Skills-Right
    {
        width: 50%;
        float: Right;
        margin-top: 3%;
    }
    .Skills-left
    {
        width: 50%;
        float: left;
        margin-top: 3%;
    }
    .con 
    {
        margin: 5px;
        height: 200px;
        padding-top: 20px;
    }
	.Skills-Right .con img
	{
		height: 70px;
		width: 70px;
		padding: 10px;
	}
}