<div class="project">
  <h3 Class="header">Project</h3>
  <div class="flex-container">
    <!-- Project 1 -->
    <div class="project1" (click)="openPopup('ERP')">
      <div class="ERP">
        <img src="../ERP.jpg" title="Accounting and Inventory Software">
        <h4>Accounting and Inventory Software Project</h4>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="project2" (click)="openPopup('WEB')">
      <div class="WEB">
        <img src="../WEB.jpg" title="Web - Accounting and Inventory Web">
        <h4>Web - Accounting and Inventory</h4>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="project3" (click)="openPopup('Cart')">
      <div class="Cart">
        <img src="../Cart.jpg" title="Cart - ">
        <h4>Cart - Sales with Inventory</h4>
      </div>
    </div>
  </div>
  
  <!-- Popup -->
  <div *ngIf="popupOverlayOpen" class="popup-overlay" (click)="closePopup()"></div>
  <div *ngIf="popupContentOpen" class="popup-content">
    <button class="close-btn" (click)="closePopup()">X</button>
    <div [innerHTML]="popupDetails"></div>
  </div>
</div>
