<div id="AboutMe" class="AboutMe">
    <div class="AboutMe-left">
      <img src="../Photo.jpg">
    </div>
    <div class="AboutMe-Right">
      <h2>KAVINRAJ BALAMURUGAN</h2>
      <p>
        <i class="fas fa-envelope"></i> &nbsp;kavinbala82gmail.com
        <br>
        <i class="fas fa-mobile-alt"></i> &nbsp;&nbsp;9597720998
        <br>
        <i class="fas fa-address-card"></i> &nbsp;59, Ayyanarappan Kovil Street - 1, Erode - 638001<br>
      </p>
      <p>IT Support Engineer with 2.5 years of experience, specializing in UI/UX design and proficient in:<br></p>
        <ul>
          <li>Technical Skills: HTML, CSS, SQL, JavaScript, VB.NET</li>
          <li>Desktop Support: Strong track record in troubleshooting, resolving technical issues, and providing exceptional user support</li>
          <li>UI/UX Design: Experienced in creating user-friendly interfaces and improving user experiences through effective design solutions</li>
          </ul>
        <p>
          I am seeking a challenging role where I can leverage my technical expertise to enhance desktop support and contribute to the development of intuitive web applications.
        </p>
      <br>
        <span>Contact with</span><a href="https://github.com/Kavinbala1072"><i class="fa-brands fa-github"> </i></a>
        <a href="https://www.instagram.com/@kavin.1072"><i class="fa-brands fa-instagram"> </i></a>
        <a href="https://www.linkedin.com/in/kavin-raj-a50250227"><i class="fa-brands fa-linkedin"> </i></a>
        <p class="Download" style="text-align: Left;" > Here to download My Resume </p> 
        <a href="KavinrajB.pdf" download="KavinrajB.pdf">
        <button id="downloadButton" style="height: 30px; width: 150px;"> Download Resume 
        </button>
      </a>
    </div>
  </div>