.AboutMe
{
    width: 100%;
    height: 100vh;
    background-color:#ffffff;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.AboutMe-left
{
    align-content: center ;
}
.AboutMe-left img{
    height: 48%;
    width: 50%; 
    margin: 25% 0% 0% 25%;
}
.AboutMe-Right
{
    color: #555;
}
.AboutMe-Right h2
{
    text-align: center;
    color: #2772A0;
}
.AboutMe-Right p
{
    padding: 0px 20px 20px 20px;
}
ul
{
    padding: 0px 20px 0px 40px;
}
a
{ 
    padding: 10px 0px 0px 10px;
}
span
{
    padding: 0px 20px 20px 20px;
}
button
{
   margin-left: 100px;
   border-radius: 20px;
   background-color: #2772A0;
   color: white;
   border: 2px solid #2772A0;
}
.fas {
    color: #2772A0;
}
.fa-brands {
    color: #2772A0;
}

@media (min-width: 1000px){
    .AboutMe
    {
        width: 100%;
        height: 100vh;
        background-color:#ffffff;
    }
    .AboutMe-left
    {
        float: left;
        width: 30%;
    }
    .AboutMe-left img
    {
        height: 50vh;
        width: 45vh; 
        margin: 45% 0% 0% 10%;
    }
    .AboutMe-Right
    {
        float: Right;
        width: 68%;
        padding-top: 12%;
        margin-right: 20px;
    }
    .AboutMe-Right h2
    {
        text-align: left;
        padding: 10px 20px 0px 20px;
        color: #2772A0;
    }
    .AboutMe-Right p
    {
        padding: 10px 20px 0px 20px;
    }
    ul
    {
        padding: 10px 20px 0px 40px;
    }
    a
    {
        padding: 10px 0px 0px 10px;
    }
    span
    {
        padding: 10px 0px 0px 20px;
    }
    button
    {
       margin-left: 40px;
       margin-top: 10px;
       border-radius: 20px;
       background-color: #2772A0;
       color: white;
       border: 2px solid #2772A0;
    }
  }
